
.SuggestionList {
    list-style-type: none;
    margin: 0;
    margin-top: -1px;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 1;

    border: 1px solid #ddd;
    border-top: 0;
    background-color: #fff;
    box-shadow: 0 2px 6px -5px black;

    max-height: 60vh;
    overflow: auto;
}

.SuggestionList__loading {
    display: block;
    text-align: center;
}

.SuggestionList__item,
.SuggestionList__item--active,
.SuggestionList__item--selected {
    display: block;
    padding: .2rem .5rem;
    font-size: 1rem;
    text-align: left;
    font-family: inherit;
    font-size: inherit;
    font-stretch: inherit;
    border: 1px solid #fff;
    color: #666;
}

.SuggestionList__item--active,
.SuggestionList__item:hover {
    border: 1px solid #ddd;
}

.SuggestionList__item--selected {
    background: #f0f0f0;
}
